<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>LLDOT2__.TTF</string>
		<string>Markus_Schroeppels_FontLicense.rtf

Markus_Schroeppels_FontLicense.rtf

Markus_Schroeppels_FontLicense.rtf

</string>
		<string>dotness.ttf

dotness.ttf

</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string></string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.67834334721-e1abvlnno3gskopof7qhhcn1jt87c4a2</string>
			</array>
		</dict>
		<dict/>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIUserInterfaceStyle</key>
		<string>Dark</string>
		<key>UIImageName</key>
		<string></string>
		<key>UIImageRespectsSafeAreaInsets</key>
		<false/>
		<key>UILaunchScreen</key>
		<dict/>
	</dict>
</dict>
</plist>
